{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}

{% block page_content %}
<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
        <div class="w-size13 p-t-30 respon5">
            <img src="{{ website_image }}" alt="IMG-PRODUCT" style="margin: 0 auto; width: 100%">
        </div>

        <div class="w-size14 p-t-30 respon5">
            <h4 class="product-detail-name m-text16 p-b-13">
                {{ item_name }}
            </h4>

            <span class="m-text17">
                $ {{ standard_rate }}
            </span>

            <div class="p-b-45">
                <span class="s-text8 m-r-35">Item Code: {{ item_code }}</span>
                {#<span class="s-text8">Categories: Mug, Design</span>#}
            </div>

            <!--  -->
            <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Description
                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23">
                    {{ web_long_description or description or _("No description given") }}
                    {#<p class="s-text8">
                        {{ web_long_description or description or _("No description given") }}
                    </p>#}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}