{% extends "templates/web.html" %}

{% block header %}<h1>{{ _("Products") }}</h1>{% endblock %}

{% block page_content %}
{#<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(images/heading-pages-02.jpg);">
	<h2 class="l-text2 t-center">
		Women
	</h2>
	<p class="m-text13 t-center">
		New Arrivals Women Collection 2018
	</p>
</section>#}


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				<div class="leftbar p-r-20 p-r-0-sm">
					<!--  -->
					<h4 class="m-text14 p-b-7">
						Categories
					</h4>
					{% set groups = frappe.get_list("Item Group", filters={}, fields=['name', 'route']) %}
					{% if groups %}
					<ul class="p-b-54">
						{% for i in range(0, groups|length) %}
						{% if groups[i] %}
						<li class="p-t-4">
							<a href="{{ groups[i].route|abs_url }}" class="s-text13 active1">
								{{ groups[i].name }}
							</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>

			<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
				<!--  -->
				{#<div class="flex-sb-m flex-w p-b-35">
					<div class="flex-w">
						<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
							<select class="selection-2" name="sorting">
								<option>Default Sorting</option>
								<option>Popularity</option>
								<option>Price: low to high</option>
								<option>Price: high to low</option>
							</select>
						</div>

						<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
							<select class="selection-2" name="sorting">
								<option>Price</option>
								<option>$0.00 - $50.00</option>
								<option>$50.00 - $100.00</option>
								<option>$100.00 - $150.00</option>
								<option>$150.00 - $200.00</option>
								<option>$200.00+</option>

							</select>
						</div>
					</div>

					<span class="s-text8 p-t-5 p-b-5">
						Showing 1–12 of 16 results
					</span>
				</div>#}

				<!-- Product -->
				<div class="row">
					{% for i in range(0, page_length) %}
					{% if items[i] %}
					{{ items[i] }}
					{% endif %}
					{% endfor %}

				</div>

				<!-- Pagination -->
				{#<div class="pagination flex-m flex-w p-t-26">
					<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
					<a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
				</div>#}
			</div>
		</div>
	</div>
</section>
{#<div class="item-group-content" itemscope itemtype="http://schema.org/Product">
	<div>
		{% if slideshow %}
		<!-- slideshow -->
		{% include "templates/includes/slideshow.html" %}
		{% endif %}
		{% if description %}
		<!-- description -->
		<div itemprop="description">{{ description or ""}}</div>
		{% endif %}
	</div>
	<div>
		{% if items %}
		<div id="search-list" {% if not products_as_list -%} class="row" {%- endif %}>
			{% for i in range(0, page_length) %}
			{% if items[i] %}
			{{ items[i] }}
			{% endif %}
			{% endfor %}
		</div>
		<div class="text-center item-group-nav-buttons">
			{% if frappe.form_dict.start|int > 0 %}
			<a class="btn btn-default" href="/{{ pathname }}?start={{ frappe.form_dict.start|int - page_length }}">{{ _("Prev")
				}}</a>
			{% endif %}
			{% if items|length > page_length %}
			<a class="btn btn-default" href="/{{ pathname }}?start={{ frappe.form_dict.start|int + page_length }}">{{ _("Next")
				}}</a>
			{% endif %}
		</div>
		{% else %}
		<div class="text-muted">{{ _("No items listed") }}.</div>
		{% endif %}
	</div>
</div>#}
{% endblock %}