{% from "erpnext/templates/includes/macros.html" import product_image_square %}
<a class="product-link" href="{{ route|abs_url }}">
	<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
		<!-- Block2 -->
		<div class="block2">
			<div class="block2-img wrap-pic-w of-hidden pos-relative">
				{{ product_image_square(thumbnail or website_image or image) }}
			</div>

			<div class="block2-txt p-t-20">
				<a href="{{ route|abs_url }}" class="block2-name dis-block s-text3 p-b-5">
					{{ item_name or name }}
				</a>
				<span class="block2-price m-text6 p-r-5">
					$ {{ frappe.db.get_value("Item", {'item_code': item_code}, "standard_rate") }}
				</span>
			</div>
		</div>
	</div>
</a>