<!DOCTYPE html>
<!-- Built on Frappe. https://frappe.io/ -->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {{ title | striptags }} {% endblock %}</title>
	<meta name="generator" content="frappe">

    {% block favicon %}
	<link rel="shortcut icon"
		href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
		type="image/x-icon">
	<link rel="icon"
		href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
		type="image/x-icon">
    {% endblock %}
	{%- block head -%}
		{% if meta_block is defined -%}
		{{ meta_block }}
		{%- endif %}

		{% if head_html is defined -%}
		{{ head_html or "" }}
		{%- endif %}

		{%- for link in web_include_css %}
		<link type="text/css" rel="stylesheet" href="{{ link|abs_url }}">
		{%- endfor -%}

	    {%- block head_include %}{{ head_include or "" }}{% endblock -%}

		{%- block style %}{%- endblock -%}
	{%- endblock -%}
    <script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
    </script>
</head>
<body data-path="{{ path }}">
		<!-- Header -->
		<header class="header1">
				<!-- Header desktop -->
				<div class="container-menu-header">
					<div class="topbar">
						<div class="topbar-social">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
		
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
		
						<div class="topbar-child2">
							<span class="topbar-email">
								mail@lectuscorp.com
							</span>
						</div>
					</div>
		
					<div class="wrap_header">
						<!-- Logo -->
						<a href="/" class="logo">
							<img src="images/kensington-logo.png" alt="IMG-LOGO"> KENSINGTON BRUNEI
						</a>
						{% block navbar_items %}
							{% include "templates/includes/navbar/navbar_items.html" %}
						{% endblock %}
		
						<!-- Menu -->
						{#<div class="wrap_menu">
							<nav class="menu">
								<ul class="main_menu">
									<li class="sale-noti">
										<a href="index.html">Home</a>
										<ul class="sub_menu">
											<li><a href="index.html">Homepage V1</a></li>
											<li><a href="home-02.html">Homepage V2</a></li>
											<li><a href="home-03.html">Homepage V3</a></li>
										</ul>
									</li>
		
									<li>
										<a href="product.html">Shop</a>
									</li>
		
									<li>
										<a href="product.html">Sale</a>
									</li>
		
									<li>
										<a href="cart.html">Features</a>
									</li>
		
									<li>
										<a href="blog.html">Blog</a>
									</li>
		
									<li>
										<a href="about.html">About</a>
									</li>
		
									<li>
										<a href="contact.html">Contact</a>
									</li>
								</ul>
							</nav>
						</div>#}
					</div>
				</div>
		
				<!-- Header Mobile -->
				<div class="wrap_header_mobile">
					<!-- Logo moblie -->
					<a href="index.html" class="logo-mobile">
						<img src="images/icons/logo.png" alt="IMG-LOGO">
					</a>
		
					<!-- Button show menu -->
					<div class="btn-show-menu">
						<!-- Header Icon mobile -->
						<div class="header-icons-mobile">
							<a href="#" class="header-wrapicon1 dis-block">
								<img src="images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
							</a>
		
							<span class="linedivide2"></span>
		
							<div class="header-wrapicon2">
								<img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
								<span class="header-icons-noti">0</span>
							</div>
						</div>
		
						<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</div>
					</div>
				</div>
		
				<!-- Menu Mobile -->
				<div class="wrap-side-menu" >
					<nav class="side-menu">
						<ul class="main-menu">
							<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
								<span class="topbar-child1">
									Free shipping for standard order over $100
								</span>
							</li>
		
							<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
								<div class="topbar-child2-mobile">
									<span class="topbar-email">
										mail@lectuscorp.com
									</span>
								</div>
							</li>
		
							<li class="item-topbar-mobile p-l-10">
								<div class="topbar-social-mobile">
									<a href="#" class="topbar-social-item fa fa-facebook"></a>
									<a href="#" class="topbar-social-item fa fa-instagram"></a>
									<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
									<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
									<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
								</div>
							</li>
		
							<li class="item-menu-mobile">
								<a href="index.html">Home</a>
								<ul class="sub-menu">
									<li><a href="index.html">Homepage V1</a></li>
									<li><a href="home-02.html">Homepage V2</a></li>
									<li><a href="home-03.html">Homepage V3</a></li>
								</ul>
								<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
							</li>
		
							<li class="item-menu-mobile">
								<a href="product.html">Shop</a>
							</li>
		
							<li class="item-menu-mobile">
								<a href="product.html">Sale</a>
							</li>
		
							<li class="item-menu-mobile">
								<a href="cart.html">Features</a>
							</li>
		
							<li class="item-menu-mobile">
								<a href="blog.html">Blog</a>
							</li>
		
							<li class="item-menu-mobile">
								<a href="about.html">About</a>
							</li>
		
							<li class="item-menu-mobile">
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>
			{% block content %}{% endblock %}
			<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
								<h4 class="s-text12 p-b-30">
									GET IN TOUCH
								</h4>
				
								<div>
									<p class="s-text7 w-size27">
										Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
									</p>
				
									<div class="flex-m p-t-30">
										<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
										<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
										<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
										<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
										<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
									</div>
								</div>
						</div>
						<div class="col-sm-2">
							<h4 class="s-text12 p-b-30">
								Categories
							</h4>
			
							<ul>
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Men
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Women
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Dresses
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Sunglasses
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-2">
							<h4 class="s-text12 p-b-30">
								Links
							</h4>
			
							<ul>
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Search
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										About Us
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Contact Us
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Returns
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-2">
							<h4 class="s-text12 p-b-30">
								Help
							</h4>
			
							<ul>
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Track Order
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Returns
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										Shipping
									</a>
								</li>
			
								<li class="p-b-9">
									<a href="#" class="s-text7">
										FAQs
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
		
				<div class="t-center p-l-15 p-r-15">
		
					<div class="t-center s-text8 p-t-20">
						Copyright © 2018 All rights reserved.
					</div>
				</div>
			</footer>
	{# <div class="main-section">
		<div>
			<header>
			{%- block banner -%}
				{% include "templates/includes/banner_extension.html" ignore missing %}
				{% if banner_html -%}
				<div class="container">
					<div class='banner'>
						{{ banner_html or "" }}
					</div>
				</div>
				{%- endif %}
			{%- endblock -%}

			{%- block navbar -%}
                {% include "templates/includes/navbar/navbar.html" %}
            {%- endblock -%}
			</header>

            <div class="hero-and-content">
                <div data-html-block="hero">
				{%- block hero -%}{%- endblock -%}
                </div>
                <div class="container">
                {% block content %}{% endblock %}
                </div>
            </div>
			{%- if footer is defined -%}
			<footer class="page-footer">
				<div class="container">
					{{ footer }}
				</div>
			</footer>
			{%- endif -%}
		</div>
		<div>
			{%- block footer -%}{% include "templates/includes/footer/footer.html" %}{%- endblock -%}
		</div>
	</div> #}
	{% block base_scripts %}
	<!-- js should be loaded in body! -->
	<script type="text/javascript"
		src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript"
		src="/assets/js/frappe-web.min.js"></script>
	{% endblock %}
    {%- if js_globals is defined %}
    <script>
    {%- for key, value in js_globals.iteritems() %}
    window.{{ key }} = "{{ value[0] }}";
    {%- endfor -%}
    </script>
    {% endif -%}

	{%- for link in web_include_js %}
	<script type="text/javascript" src="{{ link|abs_url }}"></script>
	{%- endfor -%}

    {%- block script %}{%- endblock %}

	<!-- csrf_token -->

    {%- block body_include %}{{ body_include or "" }}{% endblock -%}
</body>
</html>
