<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
        <!-- Block2 -->
        <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative">
                <img src="images/item-02.jpg" alt="IMG-PRODUCT">
            </div>

            <div class="block2-txt p-t-20">
                <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                    Herschel supply co 25l
                </a>

                <span class="block2-price m-text6 p-r-5">
                    $75.00
                </span>
            </div>
        </div>
    </div>