{% extends base_template_path %}

{% block hero %}{% endblock %}
{% block content %}
{%- block page_content -%}{%- endblock -%}
{# <div class="page-container" id="page-{{ name or route }}"
	data-path="{{ pathname }}"
	{%- if page_or_generator=="Generator" %}
		data-doctype="{{ doctype }}"{% endif %}>
		{% if show_sidebar %}
			<div class="sidebar-block">
				{% include "templates/includes/web_sidebar.html" %}
			</div>
		{% endif %}
		<div class="{% if show_sidebar %}page-content with-sidebar{% else %}page-content without-sidebar{% endif %}">
			<div class="page-content-wrapper">
				<div class="row page-head">
					<div class='col-sm-12'>
						{% if not no_breadcrumbs and parents %}
						<div class="page-breadcrumbs">
							{% block breadcrumbs %}
							{% include 'templates/includes/breadcrumbs.html' %}
							{% endblock %}
						</div>
						{% endif %}
					</div>
					<div class="col-sm-8 col-xs-6">
						{% block header %}{% endblock %}
					</div>
					<div class="col-sm-4 col-xs-6">
						{% if show_search %}
							<div class="page-search-block">
							{% block search %}
								{% include
									'templates/includes/search_box.html' %}
							{% endblock %}
							</div>
						{% endif %}

						{% if self.header_actions() %}
						<div class="page-header-actions-block">
							{% block header_actions %}{% endblock %}
						</div>
						{% endif %}
					</div>
				</div>
				<div class="page_content">
					{%- block page_content -%}{%- endblock -%}
				</div>
			</div>
		</div>
</div> #}
{% endblock %}
